<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Student Database</title>
	</head>
	<body>
		<h1>Welcome to Student Database</h1>
        <h3>Insert a Student Details</h3>
        <form action="/insert" method="post">
					<label>Name:</label>
            <input type="text" name="name">
					<label>Registration Number:</label>
	        	<input type="text" name="reg_no">
					<label>Branch:</label>
	          <input type="text" name="branch">
					<label>Contact Number:</label>
	          <input type="text" name="contact_no">
						<br>
					<button type="submit" name="button">Submit</button>
        </form>
	</body>
</html>
