doctype html
html
  head
    title Student Database
  body
    h1 Welcome to Student Database
    h3 List of all the students
    each item in data
      p Name: #{item.name}
      p Register Number: #{item.reg_no}
      p Branch: #{item.branch}
      p Contact Number: #{item.contact_no}
      p _______________________________