doctype html
html
  head
    title Student Database
  body
    h1 Welcome to Student Database
    p Name: #{name}
    p Register Number: #{reg_no}
    p Branch: #{branch}
    p Contact Number: #{contact_no}