doctype html
html
  head
    title Student Database
  body
    h1 Welcome to Student Database
    h4 Remove a Student details from database
    p= result
    form(action="/remove" method="post")
        label Enter name of the Student 
        input(type="text" name="name" placeholder="Name..")
        button(type="submit" name="button") Delete