doctype html
html
  head
    title Student Database
    link(rel="stylesheet", href="/assets/style.css")
  body
    nav.nav_bar
      ul
        a(href="student_database"): li Home
        a(href="add_student.html"): li Add
        a(href="search_student.html"): li Search
        a(href="display.html"): li Display
        a(href="remove_student.html"): li Remove
        a(href="update_student.html"): li Update
    h1 STUDENT DATABASE
    h3.sub-heading SEARCH FOR A STUDENT DETAILS

    div.result-removal
      p#failure= result_f

    div.field-for-name
        form(action="/search" method="post")
            label Enter the name of the Student </br>
            input(type="text" name="name" placeholder="Name..")
            </br>
            button(type="submit" name="button") Search